@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&display=swap');
*{
    
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    

}
.Banner{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    border: solid;
    background-color: orange;
    height: 100px;
    width: 100%;
    z-index: 2;  

}
